<div class="container">
  <div class="form">
    <%= form_with(model: @team, local: true) do |form| %>
      <% if @team.errors.any? %>
        <h2><%= @team.errors.count %><%= t('view.error') %></h2>
        <ul>
          <% @team.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

      <div class="form-group">
        <%= form.label t('view.team_name') %>
        <%= form.text_field :name, :placeholder => "例）チームA" ,class: "form-control" %>
      </div>

      <% if local_assigns[:edit_flag].present? %>
        <div class="form-group">
          <%= form.submit t('view.submit'), class: "btn btn-success" %>
          <%= link_to t('view.back'), teams_path, class: "btn btn-outline-success" %>
        </div>
      <% else %>
        <div class="form-group">
          <%= form.submit t('view.create'), class: "btn btn-success" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
