<div class="container mt-5">
  <div class="row">
    <div class="col-6 mx-auto">
      <h2>Team: <%= @team.name %></h2>
    </div>
  </div>
</div>

<div class="col-9 mx-auto mt-5">
  <table class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col">ユーザー名</th>
        <th scope="col">メールアドレス</th>
        <th scope="col">作業内容</th>
      </tr>
    </thead>
    <tbody>
      <% @members.each do |member| %>
        <tr>
          <td><%= member.user.username %></td>
          <td><%= member.user.email %></td>

          <td><%= link_to "作業内容一覧", works_path(user: member.user) %></td>
        </tr>

      <% end %>
    </tbody>
  </table>
  <% if current_user == @team.user %>
  <%= link_to "メンバー一覧",  team_members_path(@team.id), class: "btn btn-success" %>
    <%= link_to "メンバー追加", new_team_member_path(team_id: @team.id), class: "btn btn-success" %>
    <%= link_to "チーム編集", edit_team_path(@team), class: "btn btn-success" %>
    <%= link_to 'チーム削除',team_path(@team.id), method: :delete, data: { confirm: '本当に削除してもよろしいでしょうか?' } , class: "btn btn-danger"%>
  <% end %>
  <%= link_to "戻る", teams_path, class: "btn btn-outline-success" %>

</div>
