<p id="notice"><%= notice %></p>
<div class="show">

<div class="container mt-5">
  <div class="row">
    <div class="col-6 mx-auto">
      <h2><%= t('view.business_show') %></h2>
      <table class="table table-striped">
        <tr><td><strong><%= t('view.title') %></strong></td><td><%= @business.title %></td></tr>
        <tr><td><strong><%= t('view.business_status') %></strong></td><td><%= @business.status_i18n %></td></tr>
        <tr><td><strong><%= t('view.update') %></strong></td><td><%= l @business.created_at %></td></tr>
      </table>
      <% if @business.user_id == current_user.id %>
        <%= link_to t('view.edit'), edit_business_path(@business), class: "btn btn-success" %>
        <%= link_to t('view.delete'),business_path(@business.id), method: :delete,data: {confirm: t('view.Are you sure?'),cancel: 'キャンセル',commit: '削除する'},title: '削除確認' , class: "btn btn-danger"%>
      <% end %>
        <%= link_to t('view.back'), users_path, class: "btn btn-outline-success" %>
    </div>
  </div>
</div>
</div>
