<p id="notice"><%= notice %></p>

<div class="container mt-5">
  <div class="row">
    <div class="col-6 mx-auto">
      <h2><%= t('view.blog_index') %></h2>

      <table class="table table-hover">
        <thead class="table-success">
          <tr>
            <th><%= t('view.poster') %></th>
            <th><%= t('view.title') %></th>
            <th><%= t('view.content') %></th>
            <th><%= t('view.update') %></th>
          </tr>
        </thead>
        <tbody>
          <% @blogs.each do |blog| %>
            <tr>
              <td><strong><%= blog.user.username %></strong></td>
              <td><%= blog.title %></td>
              <td><%= blog.content %></td>
              <td><%= blog.updated_at.strftime("%m-%d %H:%M") %></td>
              <td><%= link_to t('view.show'), blog %></td>
              <% if blog.user.id == current_user.id %>
                <td><%= link_to t('view.edit'), edit_blog_path(blog) %></td>
                <td><%= link_to t('view.delete'), blog, method: :delete, data: {confirm: t('view.Are you sure?'),cancel: 'キャンセル',commit: '削除する'},title: '削除確認'%></td>
              <% else %>
                <td></td>
                <td></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @blogs %>
      <br>
      <%= link_to t('view.blog_submit'), new_blog_path ,class: "btn btn-success" %>
    </div>
  </div>
</div>
