<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="blog-text">
    <p><strong><%= t('view.poster') %></strong>：<%= @blog.user.username %></p>
    <p><strong><%= t('view.title') %></strong>：<%= @blog.title %></p>
    <p><strong><%= t('view.content') %></strong>：<%= @blog.content %></p>
  </div>

  <p><%= t('view.blog_index') %></p>
  <div id="comments_area">
    <%= render partial: 'comments/index', locals: { comments: @comments, blog: @blog } %>
  </div>
  <% if user_signed_in? %>
    <%= render partial: 'comments/form', locals: { comment: @comment, blog: @blog } %>
      <% if @blog.user.id == current_user.id %>
        <%= link_to t('view.edit'), edit_blog_path(@blog) %> |
        <%= link_to t('view.back'), blogs_path %>
      <% else %>
        <%= link_to t('view.back'), blogs_path %>
      <% end %>
  <% end %>
</div>
