<%= form_with(model: [blog, comment]) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= comment.errors.count %><%= t('view.error') %></h2>
      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label t('view.content') %><br />
    <%= form.text_area :content, class:"input", placeholder:"コメント" ,class: "form-control"%>
    <%= form.hidden_field :blog_id, value: @blog.id %>
  </div>
  <div class="actions"><br />
    <%= form.submit t('view.comment_submit'), class: "btn btn-success" %>
  </div>
<% end %>
