<% if @work.errors.any? %>
  <h2><%= pluralize(@work.errors.count, "error") %> prohibited this object from being saved: not successfully</h2>
    <ul>
      <% @work.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
<% end %>

<div class="title">
  <div class="form-tag">タイトル</div>
    <%= form.text_field :title %>
</div>

<div class="content">
  <div class="form-tag">内容</div>
    <%= form.text_field :content %>
</div>

<div class="time">
  <div class="form-tag">日程</div>
    <%= form.date_select :start_time %>
</div>

<div class="status">
	<div class="form-tag">状態</div>
    <%= check_box_tag :status , false, true, {}%>
		<%= label_tag :status, '未済' %>
</div>

<div class="remarks">
  <div class="form-tag">備考</div>
    <%= form.text_field :remarks %>
</div>

 <% if local_assigns[:edit_flag].present? %>
  <div class="submit">
    <%= form.submit "編集", class: "btn btn-success" %>
    <%= link_to "戻る", works_path, class: "btn btn-outline-success" %>
  </div>
<% else %>
  <br>
  <div class="submit">
    <%= form.submit "新規作成", class: "btn btn-success" %>
<% end %>
  </div>
