<% if @work.errors.any? %>
  <h2><%= @work.errors.count %><%= t('view.error') %></h2>
    <ul>
      <% @work.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
<% end %>

<div class="title">
  <div class="form-tag"><%= t('view.title') %></div>
    <%= form.text_field :title , :placeholder => "例）経費申請",class: "form-control"  %>
</div>

<div class="content">
  <div class="form-tag"><%= t('view.content') %></div>
    <%= form.text_field :content, :placeholder => "例）交通費",class: "form-control" %>
</div>

<div class="time">
  <span class="text-danger" data-html="true" data-toggle="tooltip" data-placement="right" title="過去日付は入力不可。"><%= t('view.start_time') %></span>
  <br>
    <%= form.date_field :start_time %>
</div>

<div class="status">
	<div class="form-tag"><%= t('view.work_status') %></div>
    <%= radio_button_tag :status,false, {:checked => true}  %>
    <%= label_tag :status, t('view.work_false') %>
    <%= radio_button_tag :status,true %>
		<%= label_tag :status, t('view.work_true') %>
</div>

<div class="remarks">
  <div class="form-tag"><%= t('view.remarks') %></div>
    <%= form.text_field :remarks, :placeholder => "例）午前中に処理が必要",class: "form-control" %>
</div>

<% if local_assigns[:edit_flag].present? %>
  <div class="submit">
    <%= form.submit t('view.edit'), class: "btn btn-success" %>
    <%= link_to t('view.back'), works_path, class: "btn btn-outline-success" %>
  </div>
<% else %>
  <br>
  <div class="submit">
    <%= form.submit t('view.work_submit'), class: "btn btn-success" %>
<% end %>
</div>

<body>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script>$('[data-toggle="tooltip"]').tooltip()</script>
</body>
