<p id="notice"><%= notice %></p>

<div class="toppage">
<h2 class="top">My スケジュール</h2>

<div class="row">
  <div class="col-md-4">
  	<div class="schedule">スケジュール一覧</div>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th>タイトル</th>
      <th>内容</th>
      <th>日程</th>
			<th>状態</th>
      <th>備考</th>
    </tr>
  </thead>

  <tbody>

    <% @pending_works.each do |work| %>
		  <% if work.status == "未済" %>
      <tr>
        <td><%= link_to work.title , work %></td>
        <td><%= work.content %></td>
        <td><%= work.start_time.strftime("%m-%d") %></td>
				<td><%= work.status %></td>
        <td><%= work.remarks %></td>

        <td><%= link_to '編集', edit_work_path(work.id) %></td>
        <td><%= link_to '詳細', work_path(work.id) %></td>
        <td><%= link_to '削除',work_path(work.id), method: :delete, data: { confirm: '本当に削除してもよろしいでしょうか?' } %></td>
      </tr>
			<% end %>
    <% end %>
  </tbody>
</table>
<%= paginate @works %>

<%= form_with(model: @work ,url: works_path ,method: :post, local: true) do |form| %>

  <div class="title">
    <div class="form-tag">タイトル</div>
    <%= form.text_field :title %>
  </div>

  <div class="content">
    <div class="form-tag">内容</div>
    <%= form.text_field :content %>
  </div>

  <div class="time">
    <div class="form-tag">日程</div>
    <%= form.date_select :start_time %>
  </div>

	<div class="status">
		<div class="form-tag">状態</div>
      <%= check_box_tag :status , false, true, {}%>
			<%= label_tag :status, '未済' %>
  </div>

  <div class="remarks">
    <div class="form-tag">備考</div>
      <%= form.text_field :remarks %>
  </div>

   <br>
   <div class="submit">
      <%= form.submit "新規作成", class: "btn btn-success" %>
   </div>
<% end %>
</div>

<br>
<div class="col-md-8">
<%= month_calendar events: @works do |date, works| %>
  <%= date.day %>

  <% works.each do |work| %>
    <div>
      <%= link_to work.title, work %>
    </div>
  <% end %>
<% end %>
    </div>
  </div>
</div>
