<p id="notice"><%= notice %></p>

<div class="toppage">
<h2 class="top"><%= @current_user.username %>:My スケジュール</h2>
<div class="row">
  <div class="col-md-6">
  	<div class="schedule">スケジュール一覧</div>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th>タイトル</th>
      <th>内容</th>
      <th>日程</th>
			<th>状態</th>
      <th>備考</th>
    </tr>
  </thead>
  <tbody>

    <% @pending_works.each do |work| %>
		  <% if work.status == "false" %>
      <tr>
        <td><%= link_to work.title , work %></td>
        <td><%= work.content %></td>
        <td><%= work.start_time.strftime("%m-%d") %></td>
				<td><%= work.status_i18n %></td>
        <td><%= work.remarks %></td>

        <td><%= link_to '編集', edit_work_path(work.id) %></td>
        <td><%= link_to '詳細', work_path(work.id) %></td>
        <td><%= link_to '削除',work_path(work.id), method: :delete, data: { confirm: '本当に削除してもよろしいでしょうか?' } %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= paginate @pending_works %>
</div>
<br>
<div class="col-md-6">
<%= month_calendar events: @works do |date, works| %>
  <%= date.day %>
  <% works.each do |work| %>
    <div>
      <%= link_to work.title, work %>
    </div>
  <% end %>
<% end %>
    </div>
  </div>
</div>
