<p id="notice"><%= notice %></p>

<div class="toppage">
<h2 class="top"><%= @current_user.username %>:<%= t('view.my_schedule') %></h2>
<div class="row">
  <div class="col-md-6">
  	<span class="text-danger" data-html="true" data-toggle="tooltip" data-placement="right" title="一覧は未済のみ表示。<br/>カレンダーは全て表示。"><%= t('view.my_schedule_list') %></span>

<table class="table table-hover">
  <thead class="table-success">
    <tr>
      <th><%= t('view.title') %></th>
      <th><%= t('view.content') %></th>
      <th><%= t('view.start_time') %></th>
      <th><span class="text-danger" data-html="true" data-toggle="tooltip" data-placement="right" title="状態変更はクリックで。"><%= t('view.work_status') %></span></th>
      <th><span class="text-danger" data-html="true" data-toggle="tooltip" data-placement="right" title="7文字以上は省略。"><%= t('view.remarks') %></span></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @pending_works.each do |work| %>
	  <% if work.status == "false" %>
    <tr>
      <td><%= link_to work.title , work %></td>
      <td><%= truncate(work.content, length: 15) %></td>
      <td><%= l work.start_time, format: :short %></td>
			<td><%= link_to work.status_i18n , work_toggle_status_path(work), method: :patch%></td>
      <td><%= truncate(work.remarks, length: 7) %></td>
      <td><%= link_to t('view.edit'), edit_work_path(work.id) %></td>
      <td><%= link_to t('view.show'), work_path(work.id) %></td>
      <td><%= link_to t('view.delete'),work_path(work.id), method: :delete,data: {confirm: t('view.Are you sure?'),cancel: 'キャンセル',commit: '削除する'},title: '削除確認'  %></td>
    </tr>
    <% end %>
  <% end %>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script>$('[data-toggle="tooltip"]').tooltip()</script>
  </tbody>
</table>

<%= paginate @pending_works %>
</div>
<br>
<div class="col-md-6">
<%= month_calendar events: @works do |date, works| %>
  <%= date.day %>
  <% works.each do |work| %>
    <div>
      <%= link_to work.title, work %>
    </div>
  <% end %>
<% end %>
    </div>
  </div>
</div>
