<p id="notice"><%= notice %></p>
<div class="show">

<div class="container mt-5">
  <div class="row">
    <div class="col-6 mx-auto">
      <h2><%= t('view.work_show') %></h2>

      <table class="table table-striped">
            <tr><td><strong><%= t('view.work_title') %></strong></td><td><%= @work.title %></td></tr>
            <tr><td><strong><%= t('view.work_content') %></strong></td><td><%= @work.content %></td></tr>
            <tr><td><strong><%= t('view.work_start_time') %></strong></td><td><%= @work.start_time.strftime("%m-%d") %></td></tr>
            <tr><td><strong><%= t('view.work_status') %></strong></td><td><%= @work.status_i18n %></td></tr>
            <tr><td><strong><%= t('view.work_remarks') %></strong></td><td><%= @work.remarks %></td></tr>
      </table>

      <% if @work.user_id == current_user.id %>
        <%= link_to t('view.edit'), edit_work_path(@work), class: "btn btn-success" %>
        <%= link_to t('view.delete'),work_path(@work.id), method: :delete, data: { confirm: t('view.Are you sure?') } , class: "btn btn-danger"%>
      <% end %>
        <%= link_to t('view.back'), works_path, class: "btn btn-outline-success" %>
        <br>
        <%= link_to user_path(@work.user_id) do %>
          <%= @work.user.username %> さんのページへ
        <% end %>
    </div>
  </div>
</div>
</div>
