<div class="container mt-5">
  <div class="row">
    <div class="col-6 mx-auto">
      <h2><%= t('view.user_list') %></h2>
      <h4><%= t('view.user_search') %></h4>
      <%=  search_form_for @search do |form| %>
        <%= form.label :name_cont, t('view.username') %>
        <%= form.search_field :username_cont %>
        <%= form.submit t('view.search'), class: "btn btn-success" %>
      <% end %>
      <br>
      <table class="table table-bordered table-striped">
        <thead class="thead-light">
          <tr>
            <th><div class="text-center"><%= sort_link(@search, :username, t('view.username'), hide_indicator: true) %></div></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td ><div class="text-center"><%= user.username %></div></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
