<div class="container mt-5">
  <div class="row">
    <div class="col-6 mx-auto">
      <h2><%= t('view.user_index') %></h2>
      <h4><%= t('view.user_search') %></h4>
      <dl class="searchbox">
      <%=  search_form_for @q do |form| %>
        <dt><%= form.search_field :username_cont,placeholder: '検索するユーザー名を入力...' %></dt>
        <dd><%= form.submit t('view.search'), class: 'search-btn' %></dd>
      <% end %>
      </dl>
      <br>
      <table class="table table-hover">
        <thead class="table-success">
          <tr>
            <th><div class="text-center"><%=  t('view.username') %></div></th>
            <th><div class="text-center"><%= t('view.title') %></div></th>
            <th><div class="text-center"><%= t('view.business_status') %></div></th>
            <th><div class="text-center"><%= t('view.update') %></div></th>
          </tr>
        </thead>
        <tbody>
          <% @businesses.each do |business| %>
          <% if business.updated_at.strftime("%m-%d") == Date.current.strftime("%m-%d")%>
          <tr>
            <td ><div class="text-center"><%= business.user.username %></div></td>
            <td ><div class="text-center"><%= business.title %></div></td>
            <td ><div class="text-center"><%= business.status_i18n %></div></td>
            <td ><div class="text-center"><%= business.updated_at.strftime("%m-%d %H:%M") %></div></td>
          <tr>
          <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
