<div class="container mt-5">
  <div class="row">
    <div class="col-6 mx-auto">
      <h2><%= t('view.today_work') %></h2>

      <strong><%= @user.username %></strong>

      <% if @user.id == current_user.id %>
        <%= @user.email %>
          <%= link_to t('view.edit'), edit_user_path(@user), class: "btn btn-success" %>
          <%= link_to t('view.back'), teams_path(@team), class: "btn btn-outline-success" %>
      <% else %>
        <%= link_to t('view.back'), teams_path(@team), class: "btn btn-outline-success" %>
      <% end %>

      <% if current_user.admin %>
        <%= link_to t('view.admin_screen'), admin_user_path, class: "btn btn-outline-success" %>
      <% end %>
    </div>
  </div>
</div>
<div class="col-9 mx-auto mt-5">
  <table class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col"><%= t('view.work_title') %></th>
        <th scope="col"><%= t('view.work_content') %></th>
        <th scope="col"><%= t('view.work_start_time') %></th>
        <th scope="col"><%= t('view.work_status') %></th>
      </tr>
    </thead>
    <tbody>
      <% @works.each do |work| %>
        <% if work.start_time.strftime("%m-%d") == Date.current.strftime("%m-%d")%>
        <tr>
          <td><%= link_to work.title, work_path(work) %></td>
          <td><%= work.content %></td>
          <td><%= work.start_time.strftime("%m-%d") %></td>
          <td><%= work.status_i18n %></td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
