<div class="container mt-5">
  <div class="row">
    <div class="col-6 mx-auto">
      <h2><%= t('view.today_work') %></h2>
      <strong><%= @user.username %></strong>さん
      <% if @user.id == current_user.id %>
        <%= @user.email %>
          <%= link_to t('view.user_edit'), edit_user_path(@user), class: "btn btn-success" %>
          <%= link_to t('view.back'), teams_path(@team), class: "btn btn-outline-success" %>
      <% else %>
        <%= link_to t('view.back'), teams_path(@team), class: "btn btn-outline-success" %>
      <% end %>
    </div>
  </div>
</div>
<div class="col-7 mx-auto mt-5">
  <table class="table table-hover">
    <thead class="table-success">
      <tr>
        <th scope="col"><%= t('view.title') %></th>
        <th scope="col"><%= t('view.business_status')  %></th>
        <th scope="col"><%=  t('view.update') %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @businesses.each do |business| %>
        <% if business.created_at.strftime("%m-%d") == Date.current.strftime("%m-%d")%>
        <tr>
          <td><%=  business.title %></td>
          <td><%=  business.status_i18n %></td>
          <td><%=  l business.created_at %></td>
          <td></td>
        </tr>
        <% end %>
      <% end %>
      <thead class="table-info">
        <tr>
          <th scope="col"><%= t('view.title') %></th>
          <th scope="col"><%= t('view.content') %></th>
          <th scope="col"><%= t('view.start_time') %></th>
          <th scope="col"><%= t('view.work_status') %></th>
        </tr>
      </thead>
      <tbody>
      <% @works.each do |work| %>
        <% if work.start_time.strftime("%m-%d") == Date.current.strftime("%m-%d")%>
        <tr>
          <td><%= link_to work.title, work_path(work) %></td>
          <td><%= work.content %></td>
          <td><%= l work.start_time, format: :short %></td>
          <td><%= work.status_i18n %></td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
