<!DOCTYPE html>
<html>
  <head>
    <title>TestOriginal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/1741c2b470.js" crossorigin="anonymous"></script>
  </head>

  <body>

    <% if flash[:notice] %>
      <div class="alert alert-warning" role="alert"><strong><%= notice %></strong></div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-danger" role="alert"><strong><%= alert %></strong></div>
    <% end %>

    <nav class="navbar navbar-light mb-2" style="background-color:#e3f2fd;">
      <div class="navbar-brand">
        <%= link_to root_path, class: "navbar-brand" do %>
          <h1 class="title" style="font-family: cursive;">TeamWORK</h1>
        <% end %>
      </div>

      <% if user_signed_in? %>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to "作業内容一覧", works_path,  class: "nav-link" %>
          </li>
        </ul>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to "作業内容新規作成", new_work_path,  class: "nav-link" %>
          </li>
        </ul>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to "コメント新規投稿", new_blog_path,  class: "nav-link" %>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <%= link_to "チーム一覧", teams_path,  class: "nav-link" %>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <%= link_to "ユーザ一覧", users_path,  class: "nav-link" %>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <%= link_to "マイページ", user_path(current_user),  class: "nav-link" %>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %>
          </li>
        </ul>
      <% else %>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <%= link_to "新規登録", new_user_registration_path, class: "nav-link" %>
          </li>
        </ul>
      <% end %>

    </nav>
    <%= yield %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  </body>
</html>

<!-- <footer class="footer">
	<div class="container text-center">
	  <p class="text-muted">TeamWORK株式会社 © 2021 Copyright</p>
	</div> -->
<!-- </footer> -->
