<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Originalアプリ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/1741c2b470.js" crossorigin="anonymous"></script>

    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
  </head>
  <body id="page-top">
    <a class="menu-toggle rounded"><i class="fas fa-bars"></i></a>
    <nav id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-nav-item"><%= link_to "Home", root_path, class: "navbar-brand" %></li>
      <% if user_signed_in? %>
        <% if current_user.admin? %>
        <li class="sidebar-nav-item"><%= link_to t('view.admin_screen'), rails_admin_path, class: "nav-link" %></li>
        <% end %>
        <li class="sidebar-nav-item"><%= link_to t('view.blog_new'), new_blog_path,  class: "nav-link" %></li>
        <li class="sidebar-nav-item"><%= link_to t('view.business_new'), new_business_path,  class: "nav-link" %></li>
        <li class="sidebar-nav-item"><%= link_to t('view.team_create'), new_team_path,  class: "nav-link" %></li>
        <li class="sidebar-nav-item"><%= link_to t('view.log_out'), destroy_user_session_path, method: :delete, class: "nav-link" %></li>
      <% else %>
        <li class="sidebar-nav-item"><%= link_to t('view.log_in'), new_user_session_path, class: "nav-link" %></li>
        <li class="sidebar-nav-item"><%= link_to t('view.sign_up'), new_user_registration_path, class: "nav-link" %></li>
      <% end %>
      </ul>
    </nav>
    <% if flash[:notice] %>
      <div class="alert alert-warning" role="alert"><strong><%= notice %></strong></div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-danger" role="alert"><strong><%= alert %></strong></div>
    <% end %>
    <nav class="navbar navbar-light mb-2" style="background-color:#ffffff;">
      <div class="navbar-brand">
        <%= link_to root_path, class: "navbar-brand" do %>
          <h1><span class="text" data-html="true" data-toggle="tooltip" data-placement="bottom" title="Topページへ" style="font-family: cursive;">TeamWORK</span></h1>
        <% end %>
      </div>
      <div class="container">
      <% if user_signed_in? %>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to t('view.work_new'), new_work_path, class: "nav-link", 'data-toggle': :tooltip, title: "作業内容を新規作成" %>
          </li>
        </ul>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to t('view.work_index'), works_path, class: "nav-link", 'data-toggle': :tooltip, title: "自分の作業内容一覧" %>
          </li>
        </ul>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to t('view.blog_index'), blogs_path, class: "nav-link", 'data-html': :true, 'data-toggle': :tooltip, title: "ユーザー同士で<br/>雑談ができます" %>
          </li>
        </ul>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to t('view.business_status'), businesses_path, class: "nav-link", 'data-html': :true, 'data-toggle': :tooltip, title: "自分の出勤状況を登録" %>
          </li>
        </ul>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to t('view.user_index'), users_path, class: "nav-link", 'data-html': :true, 'data-toggle': :tooltip, title: "ユーザーの本日の出勤状況を<br/>確認できます（登録者のみ）" %>
          </li>
        </ul>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to t('view.team_index'), teams_path, class: "nav-link", 'data-html': :true, 'data-toggle': :tooltip, title: "チームを新規作成" %>
          </li>
        </ul>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to t('view.user_show'), user_path(current_user), class: "nav-link", 'data-html': :true, 'data-toggle': :tooltip, title: "ユーザー編集と<br/>本日の作業内容と出勤状況を確認できます" %>
          </li>
        </ul>
      <% end %>
      </div>
    </nav>
    <%= yield %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <footer class="footer text-center">
      <div class="container px-4 px-lg-5">
        <p class="text-muted small mb-0">TeamWORK株式会社 © 2021 Copyright</p>
        <a href="#" id="page-top">ページTOPへ戻る</a>
      </div>
    </footer>
  </body>
</html>

<%= render partial: 'tool' %>
